.card {
  margin: 0 auto;
  background-color: #a4cf7d;
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1vw;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  word-wrap: break-word;
  width: 15vw;
}

.card:hover {
  transform: scale(1.05);
}

.card h2,
.card p {
  color: #00467f;
}
